
<div class="col-sm-4">
  <div class="panel panel-success">
    <div class="panel-heading"><%= product.title %></div>
    <div class="panel-body">
      <p><%= short_desc(product.description) %> </p>
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p><%= product.price %> <span class="glyphicon <%= glyphicons_classes[product.currency] %>"></span> </p>

      <%= link_to line_item_path(@line_item_id), method: :delete, remote: true, :class => "del-item-button"   do %>
        Delete from cart
        <span class= "glyphicon glyphicon-minus"></span>
      <% end %>
    </div>
  </div>
</div>


